<div class="card card-custom card-stretch">
    <div class="card-header py-3">
        <div class="card-title align-items-start flex-column">
            <h3 class="card-label font-weight-bolder text-dark">Change Password</h3>
            <span class="text-muted font-weight-bold font-size-sm mt-1">
                Change your account password</span>
        </div>

    </div>
    <div class="form">
        <div class="card-body">
            <div class="alert alert-custom alert-light-danger fade show mb-10" role="alert">
                <div class="alert-icon pr-0">
                    <mat-icon class="mt-1">warning</mat-icon>
                </div>
                <div class="alert-text font-weight-bold">If change the password successfully then you will be signed out
                    and have to sign-in again.
                </div>
            </div>

            <form class="form example-form" novalidate [formGroup]="form">
                <div class="row mt-5">
                    <label class="col-xl-3 col-lg-3 col-form-label">Current Password</label>
                    <div class="col-3">
                        <mat-form-field class="example-full-width">
                            <input matInput type="password" [formControlName]="'oldPassword'" #oldPasswordField
                                autocomplete="false">
                            <button mat-icon-button type="button"
                                (click)="oldPasswordField.type === 'password' ? oldPasswordField.type = 'text' : oldPasswordField.type = 'password'"
                                matSuffix>
                                @if(oldPasswordField.type === 'password')
                                {
                                <mat-icon class="icon-size-5">remove_red_eye</mat-icon>
                                }
                                @if(oldPasswordField.type === 'text')
                                {
                                <mat-icon class="icon-size-5">visibility_off</mat-icon>
                                }

                            </button>

                            @if(isError('oldPassword', 'required'))
                            {
                            <mat-error>
                                Password is required.
                            </mat-error>
                            }
                            @if(isError('oldPassword', 'passwordStrength'))
                            {
                            <mat-error>
                                Password should contain uppercase, lowercase, number & special characters.
                            </mat-error>
                            }
                            @if(isError('oldPassword', 'minlength'))
                            {
                            <mat-error>
                                Password must be at least 8 characters long.
                            </mat-error>
                            }

                        </mat-form-field>
                    </div>
                </div>
                <div class="row mt-5">
                    <label class="col-xl-3 col-lg-3 col-form-label">New Password</label>
                    <div class="col-3">
                        <mat-form-field class="example-full-width">
                            <input matInput type="password" [formControlName]="'newPassword'" #passwordField
                                autocomplete="false">
                            <button mat-icon-button type="button"
                                (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                                matSuffix>
                                @if(passwordField.type === 'password')
                                {
                                <mat-icon class="icon-size-5">remove_red_eye</mat-icon>
                                }
                                @if(passwordField.type === 'text')
                                {
                                <mat-icon class="icon-size-5">visibility_off</mat-icon>
                                }

                            </button>
                            @if(isError('newPassword', 'required'))
                            {
                            <mat-error>New password is required.</mat-error>
                            }
                            @if(isError('newPassword', 'passwordStrength'))
                            {
                            <mat-error>Password should contain uppercase, lowercase, number & special
                                characters.</mat-error>
                            }
                            @if(isError('newPassword', 'minlength'))
                            {
                            <mat-error>Password must be at least 8 characters long.</mat-error>
                            }

                        </mat-form-field>
                    </div>

                </div>
                <div class="row mt-5">
                    <label class="col-xl-3 col-lg-3 col-form-label">Confirm Password</label>
                    <div class="col-3">
                        <mat-form-field class="example-full-width">
                            <input matInput type="password" [formControlName]="'confirmPassword'" autocomplete="false"
                                #confirmPasswordField>
                            <button mat-icon-button type="button"
                                (click)="confirmPasswordField.type === 'password' ? confirmPasswordField.type = 'text' : confirmPasswordField.type = 'password'"
                                matSuffix>
                                @if(confirmPasswordField.type === 'password')
                                {
                                <mat-icon class="icon-size-5">remove_red_eye</mat-icon>
                                }
                                @if(confirmPasswordField.type === 'text')
                                {
                                <mat-icon class="icon-size-5">visibility_off</mat-icon>
                                }

                            </button>
                            @if(isError('confirmPassword', 'required'))
                            {
                            <mat-error>Confirm password is required.</mat-error>
                            }
                            @if(isError('confirmPassword', 'mustMatch'))
                            {
                            <mat-error>Confirm password should be same as new password.</mat-error>
                            }

                        </mat-form-field>
                    </div>

                </div>
            </form>
        </div>
    </div>
    <div class="card-footer text-right">
        <button type="button" class="btn btn-primary mr-2" (click)="updatePassword()"
            [disabled]="(progressBarService.isLoading | async)">Save</button>
    </div>
</div>