.clsBlack {
    color: black !important;
}

.clsBorder {
    border: 1px solid lightgray;
}

.clsDeleted {
    color: red !important;
}

.active {
    background: #beebff;
    border: 1px solid #99defd;
    padding: 0 3px 0 1px;
}