<h2 mat-dialog-title class="text-lg sm:text-3xl">
    Column Selector
</h2>
<div mat-dialog-content>
    <app-list-column-selector #columnSelectorList [instrumentListColumns]="instrumentListColumns"
        [isTemplateShow]="isTemplateShow"></app-list-column-selector>
</div>
<ng-container>
    <div mat-dialog-actions>
        <div class="text-center pb-4 w-100">
            <button class="btn btn-primary mr-2" (click)="saveSelectedColumn()">Apply</button>
            <button class="btn btn-secondary mr-2" (click)="selectDeselectAll(true)">Select All</button>
            <button class="btn btn-secondary mr-2" (click)="selectDeselectAll()">De-Select All</button>
            <button class="btn btn-light" (click)="cancel()">Cancel</button>
        </div>
    </div>
</ng-container>