<ng-container *ngIf="subheaderVersion$ | async as _version">
  @if(_version === 'v1'){
  <app-subheader1></app-subheader1>
  }

  @if(_version === 'v2'){
  <app-subheader2></app-subheader2>
  }

  @if(_version === 'v3'){
  <app-subheader3></app-subheader3>
  }

  @if(_version === 'v4'){
  <app-subheader4></app-subheader4>
  }

  @if(_version === 'v5'){
  <app-subheader5></app-subheader5>
  }

  @if(_version === 'v6'){
  <app-subheader6></app-subheader6>
  }

  @if(_version === 'v7'){
  <app-subheader7></app-subheader7>
  }
</ng-container>