<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">Manage Equipment Codes</h3>
        </div>
        <div class="card-toolbar">
            <input hidden (change)="onFileSelected($event)" #importFileInput type="file" accept=".csv, .xlsx">
            <list-actions [context]="'equipmentCode'" [showColunmSelector]="true"
                [showExport]="(_equipmentCodeSearchHelperService.totalCount$ | async) >0" (isExport)="exportData()"
                (isColumnSelector)="openColumnSelectorDialog()" (isImportFileDownload)="importFileDownload()"
                (isImport)="importFileInput.click()" (isBulkEdit)="bulkEdit()"/>

            <permission-wrapper [permissions]="[appConfig.Operations.Add]">
                <button type="button" class="btn btn-primary" (click)="addEditEquipmentCodeDialog()">
                    New Code
                </button>
            </permission-wrapper>

        </div>
    </div>
    <div class="card-body pt-0">
        <app-list-equipmentCode-table #equipmentCodeTable
            [items]="_equipmentCodeSearchHelperService.searchData$ | async"
            [totalLength]="_equipmentCodeSearchHelperService.totalCount$ | async" (delete)="delete($event)" (deleteBulk)="deleteBulk($event)"
            (search)="search($event)" (edit)="addEditEquipmentCodeDialog($event)"></app-list-equipmentCode-table>
    </div>
</div>