<div class="d-flex justify-content-between align-items-center">
    <div class="col col-3">
        <div *ngIf="showNonInstrument">
            <button class="btn btn-danger btn-sm mr-2" (click)="deleteBulkDevices()">Delete All</button>
            <button class="btn btn-outline-secondary btn-sm" (click)="cancelBulkDelete()">Cancel</button>
        </div>
    </div>
    <div class="col col-3">
        <mat-form-field class="example-full-width">
            <mat-label>Search</mat-label>
            <input matInput (keyup)="applyFilter($event.target.value)">
        </mat-form-field>
    </div>
</div>

<div class="example-container">
    @if(isLoading){
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }
    <ng-scrollbar>
        <div class="table-responsive">
            <table mat-table class="table table-head-solid table-vertical-center" #table [dataSource]="dataSource"
                matSort>

                <!-- Checkbox Column -->
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef >
                        <mat-checkbox (change)="$event ? toggleAllRows() : null" 
                                      [checked]="selection.hasValue() && isAllSelected()"
                                      [indeterminate]="selection.hasValue() && !isAllSelected()" 
                                      [aria-label]="checkboxLabel()">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row" >
                        <mat-checkbox (click)="$event.stopPropagation()" 
                                      (change)="$event ? selection.toggle(row) : null"
                                      [checked]="selection.isSelected(row)" 
                                      [aria-label]="checkboxLabel(row)"> 
                        </mat-checkbox>
                    </td>
                </ng-container>

                <!-- #region -->
                <ng-container matColumnDef="processNo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{tagFieldNames[0]?? ""}} </th>
                    <td mat-cell *matCellDef="let element" [ngClass]="!element.isActive ? 'clsRed':''">
                        {{element.processNo}} 
                    </td>
                </ng-container>

                <ng-container matColumnDef="subProcess">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{tagFieldNames[1]?? ""}} </th>
                    <td mat-cell *matCellDef="let element" [ngClass]="!element.isActive ? 'clsRed':''"> {{
                        element.subProcess }} </td>
                </ng-container>

                <!-- Stream -->
                <ng-container matColumnDef="streamName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{tagFieldNames[2]?? ""}} </th>
                    <td mat-cell *matCellDef="let element" [ngClass]="!element.isActive ? 'clsRed':''"> {{
                        element.streamName }} </td>
                </ng-container>

                <ng-container matColumnDef="equipmentCode">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Equipment Code </th>
                    <td mat-cell *matCellDef="let element" [ngClass]="!element.isActive ? 'clsRed':''"> {{
                        element.equipmentCode }} </td>
                </ng-container>

                <ng-container matColumnDef="sequenceNumber">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Sequence Number </th>
                    <td mat-cell *matCellDef="let element" [ngClass]="!element.isActive ? 'clsRed':''"> {{
                        element.sequenceNumber }} </td>
                </ng-container>

                <ng-container matColumnDef="equipmentIdentifier">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Equipment Identifier </th>
                    <td mat-cell *matCellDef="let element" [ngClass]="!element.isActive ? 'clsRed':''"> {{
                        element.equipmentIdentifier }} </td>
                </ng-container>

                <ng-container matColumnDef="tagName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tag </th>
                    <td mat-cell *matCellDef="let element" [ngClass]="!element.isActive ? 'clsRed':''"> {{
                        element.tagName
                        }} </td>
                </ng-container>

                <ng-container matColumnDef="deviceType">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Device Type </th>
                    <td mat-cell *matCellDef="let element" [ngClass]="!element.isActive ? 'clsRed':''"> {{
                        element.deviceType }} </td>
                </ng-container>

                <ng-container matColumnDef="isInstrument">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Is Instrument </th>
                    <td mat-cell *matCellDef="let element" [ngClass]="!element.isActive ? 'clsRed':''"> {{
                        element.isInstrument
                        }} </td>
                </ng-container>

                <ng-container matColumnDef="connectionParentTag">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Connection Parent Tag </th>
                    <td mat-cell *matCellDef="let element" [ngClass]="!element.isActive ? 'clsRed':''"> {{
                        element.connectionParentTag
                        }} </td>
                </ng-container>

                <ng-container matColumnDef="instrumentParentTag">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Instrument Parent Tag </th>
                    <td mat-cell *matCellDef="let element" [ngClass]="!element.isActive ? 'clsRed':''"> {{
                        element.instrumentParentTag }} </td>
                </ng-container>

                <ng-container matColumnDef="serviceDescription">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Service Description </th>
                    <td mat-cell *matCellDef="let element" [ngClass]="!element.isActive ? 'clsRed':''"> {{
                        element.serviceDescription }} </td>
                </ng-container>

                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
                    <td mat-cell *matCellDef="let element" [ngClass]="!element.isActive ? 'clsRed':''"> {{
                        element.description }} </td>
                </ng-container>

                <ng-container matColumnDef="natureOfSignal">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nature Of Signal </th>
                    <td mat-cell *matCellDef="let element" [ngClass]="!element.isActive ? 'clsRed':''"> {{
                        element.natureOfSignal }} </td>
                </ng-container>

                <ng-container matColumnDef="dpNodeAddress">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> DP Node Address </th>
                    <td mat-cell *matCellDef="let element" [ngClass]="!element.isActive ? 'clsRed':''"> {{
                        element.dpNodeAddress }} </td>
                </ng-container>

                <ng-container matColumnDef="noOfSlotsChannels">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> No Slots/Channels </th>
                    <td mat-cell *matCellDef="let element" [ngClass]="!element.isActive ? 'clsRed':''"> {{
                        element.noOfSlotsChannels }} </td>
                </ng-container>

                <ng-container matColumnDef="slotNumber">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Rack Slot Number </th>
                    <td mat-cell *matCellDef="let element" [ngClass]="!element.isActive ? 'clsRed':''"> {{
                        element.slotNumber }} </td>
                </ng-container>

                <ng-container matColumnDef="plcNumber">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> PLC Number </th>
                    <td mat-cell *matCellDef="let element" [ngClass]="!element.isActive ? 'clsRed':''"> {{
                        element.plcNumber
                        }} </td>
                </ng-container>

                <ng-container matColumnDef="plcSlotNumber">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> PLC Slot Number </th>
                    <td mat-cell *matCellDef="let element" [ngClass]="!element.isActive ? 'clsRed':''"> {{
                        element.plcSlotNumber }} </td>
                </ng-container>

                <ng-container matColumnDef="location">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Location </th>
                    <td mat-cell *matCellDef="let element" [ngClass]="!element.isActive ? 'clsRed':''"> {{
                        element.location
                        }} </td>
                </ng-container>

                <ng-container matColumnDef="manufacturer">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Manufacturer </th>
                    <td mat-cell *matCellDef="let element" [ngClass]="!element.isActive ? 'clsRed':''"> {{
                        element.manufacturer }} </td>
                </ng-container>

                <ng-container matColumnDef="modelNumber">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Model Number </th>
                    <td mat-cell *matCellDef="let element" [ngClass]="!element.isActive ? 'clsRed':''"> {{
                        element.modelNumber }} </td>
                </ng-container>

                <ng-container matColumnDef="modelDescription">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Model Description </th>
                    <td mat-cell *matCellDef="let element" [ngClass]="!element.isActive ? 'clsRed':''"> {{
                        element.modelDescription }} </td>
                </ng-container>

                <ng-container matColumnDef="architectureDrawing">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Architecture Drawing </th>
                    <td mat-cell *matCellDef="let element" [ngClass]="!element.isActive ? 'clsRed':''"> {{
                        element.architectureDrawing }} </td>
                </ng-container>

                <ng-container matColumnDef="architectureDrawingSheet">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Architecture Drawing Sheet </th>
                    <td mat-cell *matCellDef="let element" [ngClass]="!element.isActive ? 'clsRed':''"> {{
                        element.architectureDrawingSheet }} </td>
                </ng-container>

                <ng-container matColumnDef="revision">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Revision </th>
                    <td mat-cell *matCellDef="let element" [ngClass]="!element.isActive ? 'clsRed':''"> {{
                        element.revision
                        }} </td>
                </ng-container>

                <ng-container matColumnDef="revisionChanges">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Revision Changes </th>
                    <td mat-cell *matCellDef="let element" [ngClass]="!element.isActive ? 'clsRed':''"> {{
                        element.revisionChanges }} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                    <td mat-cell *matCellDef="let element">
                        <permission-wrapper [permissions]="[appConfig.Operations.Edit]">
                            <button class="h-10 min-h-10 max-h-10 p-0 m-0" mat-icon-button [color]="'primary'"
                                [title]="'Edit Device'" (click)="editNonInstrument(element.deviceId)">
                                <mat-icon class="p-0 m-0">edit_square</mat-icon>
                            </button>
                        </permission-wrapper>


                        <permission-wrapper [permissions]="[appConfig.Operations.Delete]">
                            <button class="h-10 min-h-10 max-h-10 p-0 m-0" mat-icon-button [color]="'warn'"
                                [title]="'Delete Device'" (click)="deleteDevice(element.deviceId)">
                                <mat-icon class="p-0 m-0">delete</mat-icon>
                            </button>
                        </permission-wrapper>


                        <permission-wrapper [permissions]="[appConfig.Operations.ActiveInActive]">
                            @if(element.isActive){
                            <button class="h-10 min-h-10 max-h-10 p-0 m-0" mat-icon-button [color]="'warn'"
                                [title]="'Inactivate Device'"
                                (click)="activeInActiveStatus(element.deviceId,element.isActive)">
                                <mat-icon class="p-0 m-0">cancel</mat-icon>
                            </button>
                            }
                            @else{
                            <button class="h-10 min-h-10 max-h-10 p-0 m-0" mat-icon-button [color]="'primary'"
                                [title]="'Activate Device'"
                                (click)="activeInActiveStatus(element.deviceId,element.isActive)">
                                <mat-icon>check_circle_outline</mat-icon>
                            </button>
                            }
                        </permission-wrapper>
                    </td>
                </ng-container>

                @for(headerColumn of displayedColumns | filterColumns;track headerColumn;let last = $last){
                <ng-container [matColumnDef]="headerColumn">
                    <td mat-header-cell *matHeaderCellDef [style.text-align]="center" class="py-0">
                        @if(!last && headerColumn != 'select_Filter'){
                        <column-filter #columnFiltersList [fieldName]="headerColumn"></column-filter>
                        }
                    </td>
                </ng-container>
                }

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-header-row *matHeaderRowDef="displayedColumns | filterColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </ng-scrollbar>
    @if(dataSource.data.length === 0){
    <app-no-record></app-no-record>
    }
    <mat-paginator [length]="totalLength" [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>
</div>