<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">Manage Device Model</h3>
        </div>
        <div class="card-toolbar">

            <input hidden (change)="onFileSelected($event)" #importFileInput type="file" accept=".csv, .xlsx">
            <list-actions [context]="'deviceModel'" [showColunmSelector]="true"
                [showExport]="(_deviceModelSearchHelperService.totalCount$ | async) >0" (isExport)="exportData()"
                (isColumnSelector)="openColumnSelectorDialog()" (isImportFileDownload)="importFileDownload()"
                (isImport)="importFileInput.click()" (isBulkEdit)="bulkEdit()"/>

            <permission-wrapper [permissions]="[appConfig.Operations.Add]">
                <button type="button" class="btn btn-primary" (click)="addEditModelDialog()">
                    New Model
                </button>
            </permission-wrapper>

        </div>
    </div>
    <div class="card-body pt-0">
        <app-list-device-model-table #deviceModelTable [items]="_deviceModelSearchHelperService.searchData$ | async"
            [totalLength]="_deviceModelSearchHelperService.totalCount$ | async" (delete)="delete($event)" (deleteBulk)="deleteBulk($event)"
            (search)="search($event)" (edit)="addEditModelDialog($event)"></app-list-device-model-table>
    </div>
</div>