<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">Manage Tag Fields</h3>
        </div>
        <div class="card-toolbar">
            <input hidden (change)="onFileSelected($event)" #importFileInput type="file" accept=".csv, .xlsx">
            <list-actions [context]="'tfLocMaster'" [showColunmSelector]="true"
                [showExport]="(_processSearchHelperService.totalCount$ | async) >0" (isExport)="exportData()"
                (isColumnSelector)="openColumnSelectorDialog()" (isImportFileDownload)="importFileDownload()"
                (isImport)="importFileInput.click()" (isBulkEdit)="bulkEditProcess()"/>

            <permission-wrapper [permissions]="[appConfig.Operations.Add]">
                @if(projectId) {
                    <button type="button" class="btn btn-primary" (click)="addEditProcessDialog()">
                        New Tag Field
                    </button>
                }

            </permission-wrapper>

        </div>
    </div>
    <div class="card-body pt-0">
        <app-list-process-table #processTable [items]="_processSearchHelperService.searchData$ | async"
            [totalLength]="_processSearchHelperService.totalCount$ | async" (delete)="delete($event)" (deleteBulk)="deleteBulkProcess($event)"
            (search)="search($event)" (edit)="addEditProcessDialog($event)"></app-list-process-table>
    </div>
</div>