.mat-mdc-dialog-content
{
    margin: 10px;
    /* padding: 20px; */
    /* max-height: 80vh; */
    overflow: auto;
    font-size: 1.125rem!important;
    padding-top: 0.5rem!important;
    align-items: center!important;
    display: flex!important;
}

.mat-mdc-dialog-actions
{
    border-top: 1px solid #f8f8f8;
    padding: 10px 10px 20px;
    margin: 0;
    min-height: unset;
    justify-content: center;
    padding-bottom: 0;
}